.chat-message {
  display: flex;
  margin: 0.5rem 0;
}
.chat-message-img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin: 0.25rem;
  margin-left: 0.6rem;
}
.chat-message-text {
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
  background-color: #fff;
  max-width: 400px;
}
.chat-message-image {
  height: 200px;
  border-radius: 20px;
}
